<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.danywer.dao.user.UserDao">
    <sql id="columns">
        id, account, password, ip, last_login_time, status
    </sql>
    <sql id="vals">
        #{id}, #{account}, #{password}, #{ip}, #{last_login_time}, #{status}
    </sql>
    <sql id="conds">
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="account != null and account != ''">
            and account = #{account}
        </if>
        <if test="password != null and password != ''">
            and password = #{password}
        </if>
        <if test="ip != null and ip != ''">
            and ip = #{ip}
        </if>
        <if test="last_login_time != null">
            and last_login_time = #{last_login_time}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </sql>
    <insert id="insert" parameterType="cn.danywer.model.user.User" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into u_user (<include refid="columns" />)
        values (<include refid="vals" />)
    </insert>
    <delete id="delete">
        delete from u_user
        where id=#{id}
    </delete>
    <select id="select" resultType="cn.danywer.model.user.User">
        select
        <include refid="columns"/>
        from u_user
        where 1=1
        <include refid="conds" />
    </select>
    <update id="update">
        update u_user
        <set>
            <if test="id != null and id != ''">
                id=#{id},
            </if>
            <if test="account != null and account != ''">
                account=#{account},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="ip != null and ip != ''">
                ip=#{ip},
            </if>
            <if test="last_login_time != null">
                last_login_time=#{last_login_time},
            </if>
            <if test="status != null and status != ''">
                status=#{status}
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>
